:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --basic-color: #ffffff;
  --text-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --bg-color-dark: #2f303a;
  --bc-color-light: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--basic-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/*===========header================*/

.header {
  border-bottom: 1px solid #ececec;
  /* NO USAMOS HEIGHT FIJO, o ponemos padding top y bottom para header o Mejor padding para los enlaces   */
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation,
.header-list {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;
}

.int-space:not(:last-child) {
  margin-right: 50px;
}
.logo-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);

  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav {
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.contact-links {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  fill: var(--text-color);
  margin-right: 10px;
}

.list .contact-links:hover,
.list .contact-links:focus {
  color: var(--title-color);
  color: var(--accent-color);
}

.contact-links:hover .contacts-icon,
.contact-links:focus .contacts-icon {
  fill: var(--accent-color);
}

/*=============main===============*/

.hero {
  background-color: var(--bg-color-dark);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/herobg.jpg');
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  color: var(--basic-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
}

.buttons {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--basic-color);
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  display: inline-block;
  border-radius: 4px;
  border: none;
}

.hero .buttons:hover,
.hero .buttons:active {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

/*=========advantages=================*/

.advantages {
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages-description {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
}
.advantages-icon {
  display: flex;
  justify-content: center;
  background-color: var(--bc-color-light);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  text-align: center;
}

.advantages-title {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

/*==============activity================*/

.subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
.sub-wrapper {
  position: relative;
}

.sub-activity-title {
  position: absolute;
  content: '';
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--basic-color);
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.sub-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sub-img-item {
  flex-basis: calc((100% - 60px) / 3);
}

/*==============team================*/

.team {
  background-color: var(--bc-color-light);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  flex-basis: calc((100% - 90px) / 4);

  background-color: var(--basic-color);
}
.staff {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-bottom: 10px;
}

.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);

  margin-bottom: 16px;
}
.social-item {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-color);
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover,
.social-icons:focus {
  fill: var(--basic-color);
  background-color: var(--accent-color);
}

/*==================clients=============*/
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}
.clients-list-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

/*footer*/

.footer {
  background-color: var(--bg-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
}

.footer-adress {
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}

.address {
  font-style: normal;
  font-weight: normal;

  line-height: 1.71;

  color: var(--basic-color);
}

.address-details {
  display: block;
}

.contact-footer {
  display: block;
  font-weight: normal;

  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

.footer-links:not(:last-child) {
  margin-right: 9px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--basic-color);
}

.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--basic-color);
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  fill: var(--basic-color);
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form-head {
  display: block;
  color: var(--basic-color);
}

.footer-modal-form {
  display: flex;
}

.footer-email-label {
  margin-right: 12px;
}

.footer-modal-input {
  font-size: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background: #2f303a;
  outline: none;
  color: var(--basic-color);
}

.footer-modal-input {
  color: var(--bc-color-light);
}

.footer-modal-input:focus {
  border-color: var(--accent-color);
}

.footer-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-right: 28px;
}

.icon-send {
  margin-left: 10px;
  fill: var(--basic-color);
}

/*portfolio*/
.portfolio-current {
  color: var(--accent-color);
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-items {
  margin-right: 8px;
  margin-left: 0px;
}

.filter-items:last-child {
  margin-right: 0px;
}

.filter-buttoms {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bc-color-light);
  cursor: pointer;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttoms:hover,
.filter-buttoms:focus,
.filter-buttoms:active {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.filter-current {
  background-color: var(--accent-color);
  color: var(--basic-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.project {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 4px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;

  color: var(--text-color);
  margin: 0px;
}

.portfolio-links:hover .overlay,
.portfolio-links:focus .overlay {
  transform: translateY(0%);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--basic-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.project {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 4px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:focus,
.close-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 14px;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.c {
  display: flex;
}
.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  content: '';
  display: block;
  width: 20px;
  height: 15px;
  border: 1px solid var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}
.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/iconcheck.svg);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border: 1px solid var(--accent-color);
}

.modal-form-btn {
  font-family: var(--main-font);
  background-color: var(--accent-color);
  color: var(--basic-color);
  display: inline-block;
  align-items: center;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
